// resources/scss/fullcalendar.scss
//@import "~@fullcalendar/core/main.css";
//@import "~@fullcalendar/timegrid/main.css";

.fc-day-sat {
  background-color: #eaf4ff;
}

.fc-day-sun {
  background-color: #ffeaea;
}

.fc-day-today{
  background-color: #ffed4a;
}